<div class="primarycenter">
    <h2 class="pre-tittle">PARCEIROS
    </h2>
    <span class="subtittle">QUEM NOS </span> 
    <span class="subtittle2">AJUDA?</span>
   
</div>

<div class="itens-active">
    <div class="sponsors">
        <div class="sponsor1">
            <img src="/parceiros_orquestra-abda_1.png" alt="Parceiros Orquestra">
            <img src="/parceiros_orquestra-abda_1.png" alt="Parceiros Orquestra">
            <img src="/parceiros_orquestra-abda_1.png" alt="Parceiros Orquestra">
            <img src="/parceiros_orquestra-abda_1.png" alt="Parceiros Orquestra">
            <img src="/parceiros_orquestra-abda_1.png" alt="Parceiros Orquestra">
            <img src="/parceiros_orquestra-abda_1.png" alt="Parceiros Orquestra">
        </div>
    </div>
    
    
</div>
