    .primarycenter{
        background-color:#f9f9f9;
        justify-content: center;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        border-top: 1px solid #eeeeee;
        
        
    }
    .pre-tittle{
        font-size: 15px;
        font-family: "Inter", sans-serif;
        letter-spacing: 5px;
        font-size: 13px;
    }
   .subtittle, .subtittle2 {
    display: inline-block; /* Ficam na mesma linha, mas respeitam o centro */
    font-weight: 700;
}
    .sponsor1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 20px 0;
        flex-wrap: wrap;
        width: 100%;
    }
    .sponsor1 img{
        transition: 0.3s;
        opacity: 0.8;
        height: auto;
        width: 100px;
    }
    .sponsor1 img:hover {
        opacity: 1;
    }