.env

/node_modules
# Caches de compilação do Angular (O que estava causando erro de tela branca)
.angular/
.cache/

# Pastas de Build (Resultado final do projeto)
dist/
out-tsc/
bazel-out/

# Logs de erro do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Configurações de IDEs
.vscode/
.idea/
*.swp
*.bak

# Firebase (Arquivos gerados automaticamente pelo Firebase CLI)
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
apiInstituto/
