/* container padrão */
.container {
  max-width: 850px;
  margin: auto;
  padding: 20px;
}

/* título */
h1 {
  color: #003366;
  margin-bottom: 15px;
}

/* texto */
p {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

/* imagem */
img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}
/* --- COPIADO DO HOME PARA O CORAL --- */
.main-header {
  background-color: #ffffff;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  font-family: 'Montserrat', sans-serif;
}

.nav-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo-bold {
  color: #003366;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: -1px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #003366;
  font-weight: 700;
  font-size: 13px;
  transition: 0.3s;
}

.menu ul li a:hover {
  color: #0056b3;
}