<header class="main-header">
  <div class="nav-container">
    <div class="logo">
      <a routerLink="/home"><span class="logo-bold">INSTITUTO</span></a>
    </div>
    <nav class="menu">
      <ul>
        <li><a routerLink="/home"       routerLinkActive="active">HOME</a></li>
        <li><a routerLink="/sobre"      routerLinkActive="active">SOBRE NÓS</a></li>
        <li><a routerLink="/eventos"    routerLinkActive="active">EVENTOS</a></li>
        <li><a routerLink="/noticias"   routerLinkActive="active">NOTÍCIAS</a></li>
        <li><a routerLink="/nosso-time" routerLinkActive="active">NOSSO TIME</a></li>
        <li><a routerLink="/coral"      routerLinkActive="active">CORAL E ORQUESTRA ABDA</a></li>
        <li><a routerLink="/contato"    routerLinkActive="active">CONTATO</a></li>
        <li><a routerLink="/cadastrar"  routerLinkActive="active">LOGIN <img class="icon" src="/public/login.png"></a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="container-main">
    <div class="noticia-1">
        <img src="/public/fotos_instituto-abda-recebe-titulo-de-utilidade-publica-na-camara_32.jpg">
        <a class="titulo" href="https://www.facebook.com/tvcamaraosascosp/videos/338014431127996/">Instituto ABDA recebe título de utilidade pública na câmara.</a>
        <p class="data">19 Fevereiro 2022 18:56:00</p>
    </div>


</section>
<app-footer></app-footer>