/* Configuração do Header */
.main-header {
  background-color: #ffffff;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  font-family: 'Montserrat', sans-serif; /* Importante para o estilo da imagem */
}

.nav-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Estilo do Texto "INSTITUTO" */
.logo-bold {
  color: #003366;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: -1px;
}

/* Estilo do Menu */
.menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #003366;
  font-weight: 700;
  font-size: 13px;
  transition: 0.3s;
}

.menu ul li a:hover {
  color: #0056b3;
}

.carousel-placeholder {

  min-height: 100px;
  background-color: #f9f9f9;
  
}

.icon{
  height: 25px;
  width: 25px;
}


.container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    font-family: 'Montserrat', sans-serif; 
}

.container-main img{
    margin-right: auto;
    height: 200px;
    
   
}
.noticia-1{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.titulo{
    margin-top: 20px;
    font-weight: 700;
}

.data{
    display: flex;
     margin-top: 20px;
    margin-left: auto;
}