.main-header {
  background-image: url('/piano2.jpg');
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  font-family: 'Montserrat', sans-serif; 
}

.nav-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


.logo-bold {
  color: #003366;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: -1px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #003366;
  font-weight: 700;
  font-size: 13px;
  transition: 0.3s;
}

.menu ul li a:hover {
  color: #0056b3;
}
.belowheader{
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
.instituto{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.subtitle{
    font-weight: 300;
    font-family: "Inter", sans-serif;
}
.title{
    padding: 60px;
}
.about{
    font-size: 16px;
    font-weight: 700;
}
.mission-body h2{
    font-size: 16px;
    font-weight: 700;
}
.vision-body h2{
    font-size: 16px;
    font-weight: 700;
}
.value-body h2, h3{
    font-size: 16px;
    font-weight: 700;
}



.text-body, 
.mission-body, 
.vision-body {
    font-family: "Inter", sans-serif;
}
.value-body ul li h2{
    font-family: "Inter", sans-serif;
}
.value-body h2{
    font-size: 16px;
}
.history-organization h2{
      font-size: 16px;
    font-weight: 700;
}

.donation-main{

}

.pagbank img{
    width: 100px;
    height: 100px;
}
.paypal{
    width: 100px;
    height: 100px;
}