  <header class="main-header">
    <div class="nav-container">
      <div class="logo">
        <span class="logo-bold">INSTITUTO</span>
      </div>

      <nav class="menu">
        <ul>
          <li><a routerLink="/inicio">HOME</a></li>
          <li><a routerLink="/sobre">SOBRE NÓS</a></li>
          <li><a routerLink="/ajudar">COMO AJUDAR?</a></li>
          <li><a routerLink="/cursos">CURSOS</a></li>
          <li><a routerLink="/time">NOSSO TIME</a></li>
          <li><a routerLink="/coral">CORAL E ORQUESTRA ABDA</a></li>
          <li><a routerLink="/contato">CONTATO</a></li>
          <li><a routerLink="/cadastrar">LOGIN</a> <img  class="icon"  src="/public/login.png"></li>
        </ul>
      </nav>
    </div>
  </header>

<section class="principal">
  <div class="container-eventos">
  <div class="imagem-evento">
    <img src="/public/eventos_formatura-da-turma-de-canto-2019-06-21_1.jpg" class="eventos-img">
  </div>
  <div class="eventos">
    <div class="item-1">
          <h1>Formatura da turma de canto</h1>
          <p>Rua Alice Manholer Piteri, 307 - Sala 10, Centro Osasco/SP 06.018-160</p>
          <p>2019-06-21</p>
          <p>18:00</p>
          <h2 class="subtitulo">Formatura da Turma de Canto</h2>
          <button class="button"> Ver detalhes</button>
    </div>
  </div>
  <div class="imagem-evento">
    <img src="/public/eventos_formatura-da-turma-de-canto-2019-06-21_1.jpg" class="eventos-img">
  </div>
  <div class="eventos">
    <div class="item-2">
          <h1>Formatura da turma de canto</h1>
          <p>Rua Alice Manholer Piteri, 307 - Sala 10, Centro Osasco/SP 06.018-160</p>
          <p>2019-11-21</p>
          <p>19:00</p>
          <h2 class="subtitulo">Formatura da Turma de Canto</h2>
          <button class="button"> Ver detalhes</button>
    </div>
  </div>
  </div>
</section>

<app-footer></app-footer>
