<header class="main-header">
  <div class="nav-container">
    <div class="logo">
      <span class="logo-bold">INSTITUTO</span>
    </div>

    <nav class="menu">
      <ul>
        <li><a routerLink="/inicio">HOME</a></li>
        <li><a routerLink="/sobre">SOBRE NÓS</a></li>
        <li><a routerLink="/ajudar">COMO AJUDAR?</a></li>
        <li><a routerLink="/cursos">CURSOS</a></li>
        <li><a routerLink="/time">NOSSO TIME</a></li>
        <li><a routerLink="/coral">CORAL E ORQUESTRA ABDA</a></li>
        <li><a routerLink="/contato">CONTATO</a></li>
        <img src="/public/login.png">
      </ul>
    </nav>
  </div>
</header>



<div class="container-eventos">
<div class="imagem-evento">
  <img src="/public/paypal.jpg" class="eventos-img">
</div>
<div class="eventos">
   <div class="item-1">
        <h1>Formatura da turma de canto</h1>
        <p>Rua Alice Manholer Piteri, 307 - Sala 10, Centro Osasco/SP 06.018-160</p>
        <p>2019-06-21</p>
        <p>18:00</p>
        <h2 class="subtitulo">Formatura da Turma de Canto</h2>
   </div>
</div>
</div>